@using Microsoft.AspNetCore.Components
@using Sol_Demo.Models

@page "/userlist"

    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in UsersCollection)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        <a href="Users/Details/@item.Id" class="btn btn-dark">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    

@code {

    [Parameter]
    public IEnumerable<UsersModel> UsersCollection { get; set; }
}
